.about_color_box {
  background-color: rgb(255, 240, 223);
  height:auto;
  /* line-height: 100px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#about_img_first {
  background-image: url("../img/about_baby.jpg");
  background-position: center;
  background-size: cover;
  /* background-repeat: repeat-y;  */
}

.header {
  font-family: HanSans;
  font-weight: bold;
  font-size: 30px;
  text-align: left;
  overflow: hidden;
  white-space: pre-wrap;
  word-break: break-all;
}

.header_des {
  font-weight: bold;
  font-size: 13px;
  text-align: left;
  color: rgb(0, 0, 0);
}

.header_sub {
  font-weight: bold;
  font-size: 22px;
  text-align: left;
  color: rgb(0, 0, 0);
  font-family: HanSans;
}

.des {
  margin-top: 0;
  font-size: 15px;
  line-height: 1.42857143;
}

.about_row {
  margin: 60px 0px;
}

.about_row:first-child {
  margin-top: 0px;
  overflow: hidden;
  height: 300px;
}

img {
  height: auto;
}

p {
  margin-left: 20px;
}

.about_text_align {
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.p_number {
  font-weight: normal;
  font-size: 17px;
  text-align: left;
  color: rgb(25, 25, 221);
}
