#admin_head {
  font-family: HanSans;
  color: rgb(25, 25, 221);
  font-size: 21px;
  font-weight: bold;
  margin: 0;
}

.admin_sidebar_main {
  border: thin none #444444;
  background-color: rgb(38, 50, 56);
  display: table;
  width: 20%;
}

.admin_sidebar_main_text {
  color: white;
  margin-left: 20px;
}
