
.cart_list_img {
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

.className {
  padding: 6px 12px;
  width: 100%;
  height: 100%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-sizing: border-box;
  resize: none;
  font-size: 14px;
}

.cart_list_count {
  padding-right: 0 !important;
  padding-left: 15px !important;
}
