.cart_header {
  margin-top: 40px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.cart_header_dec {
  font-size: 11px;
  line-height: 1.4em;
}

.Cart_first_line_text {
  margin-top: auto;
  font-size: 11px;
  width: 100px;
}

.Cart_second_line_text {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

#cart_main_button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
