.cart_main_list_option {
  margin-top: 25px;
}

.cart_main_list_option_text {
  font-weight: bold;
  font-size: 14px;
}

.cart_main_list_img {
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
}
