.foodDetailContainer {
  margin-top: 55px;
  margin-bottom: 80px;
}

.foodDetailInnerContainer {
  margin: 0 auto;
  width: 60rem;
}

.foodDetailInnerContainer .row .col{
  padding-top: 15px;
  padding-left: auto;
  padding-bottom: 15px;
}

.foodDetailimg {
  width: auto;
}

.foodDetailDate {
  font-size: 21px;
  font-weight: bold;
}

.foodDetailTime {
  margin-top: 20px;
  font-weight: bold;
}

.foodDetailTime hr{
  width: 50%;
  border: solid 1px grey;
}
.foodDetailItem {
  font-size: 21px;
  font-weight: bold;
}
.foodDetailItemPrice {
  font-size: 18px;
  font-weight: bold;
  margin-top: 25px;
}
.foodDetailItem button{
  margin-top: 20px;
}
button.btn-primary {
  background-color: rgb(25, 25, 221);
}

.foodDetailDescriptionButton{
  margin-top: 15px;
  font-family: Han Sans;
  font-weight: bold;
}

.foodDetailDescriptionButton button{
  display: inline-block;
  margin-right: 35px;
  text-align: left;
  padding: 6px 0;
  text-decoration: none;
  color: black;
}
.foodDetailDescriptionButton button:hover{
  color: rgb(25, 25, 221);
}
