.foodDetailContainer {
  margin-top: 55px;
  margin-bottom: 80px;
}

.foodDetailInnerContainer {
  margin: 0 auto;
  width: 60rem;
}

.foodDetailInnerContainer .row .col{
  padding-top: 15px;
  /* padding-left: auto; */
  padding-bottom: 15px;
}

.foodDetailimg {
  width: 400px;
  height: 400px;
}

.foodDetailDate {
  font-size: 21px;
  opacity: 0.7;
  /* font-weight: bold; */
}

.foodDetailTime {
  margin-top: 20px;
  opacity: 0.7;
  /* font-weight: bold; */
}

.foodDetailContainer hr{
  width: 60%;
  border: solid 1px grey;
}
.foodDetailItem {
  font-size: 21px;
  font-weight: bold;
}
.foodDetailItemPrice {
  font-size: 18px;
  /* font-weight: bold; */
  margin-top: 25px;
}
.foodDetailItem button{
  margin-top: 20px;
}
button.btn-primary {
  background-color: rgb(25, 25, 221);
}

.foodDetailDescriptionButton{
  margin-top: 35px;
  font-family: Han Sans;
  font-weight: bold;
}

.foodDetailDescriptionButton button{
  /* display: inline-block; */
  /* margin-right: 35px; */
  /* text-align: left; */
  /* padding: 6px 0; */
  /* text-decoration: none; */
  /* color: black; */
}
.foodDetailDescriptionButton button:hover{
  color: rgb(25, 25, 221);
}
