.footer {
  background-color: rgb(224, 224, 224);
  border-width: 0px, 0px, 1px;
  bottom: 0;
  font-family: HanSans;
  font-size: 11px;
  color: #333;
  padding: 25px 20px;
  /* position: fixed; */
}

.footer .row {
  padding: 0px 80px;
  line-height: 20px;
}

.footer .row .col a{
  text-decoration: none;
  color: black;
}