/* HomeCarousel img */
.carousel-inner{
  width:100%;
  max-height: 350px !important;
}

.carousel-inner img {
  margin: 0 auto;
}
/* HomeDatepicker */
.HomeDatePickerContainer { 
  margin: 0 auto; 
  padding: 0 25px 0 25px; 
  width: 90%;
}
.HomeDatePickerContainer hr.HomeDatePickerHr_1 {
  margin-top: 0;
  margin-bottom: 0;
}
.HomeDatePickerContainer hr.HomeDatePickerHr_2 {
  margin-top: 0;
}
a.slick-slide.slick-active.HomeDatePickerDay {
  text-decoration: none;
}
.HomeDatePickerDay {
  margin-top: 0px;
}
.HomeDatePickerDay.clicked {
  background-color: #f3f3f3;
}
.HomeDatePickerDay h3:hover,
.HomeDatePickerDay p:hover
{
  color: rgb(25,25,221);
}
.HomeDatePickerDay p {
  padding: 9px;
}
.slick-next:before,
.slick-prev:before {
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: rgb(25,25,221);
}
/* p.Mon:hover,
p.Tue:hover,
p.Wen:hover,
p.Thu:hover,
p.Fri:hover,
p.Sat:hover,
p.Sun:hover
{
  color: rgb(25,25,221);
} */
a.HomeDatePickerDay {
  text-align: center;
  font-family: SofiaProLight;
}
.HomeDatePickerDay p {
  text-transform: uppercase;
  color: #8b898d;
  font-size: 12px;
  margin-bottom: 10px;
}

.HomeDatePickerDay h3 {
  color: black;
  font-size: 18px;
}
/* HomeDiet */
.HomeDiet {
  margin: 0 auto;
  width: 50rem;
  margin-top: 50px;
  margin-bottom: 100px;
}
.HomeDietContainer {
  padding: 15px;
}
.HomeDietDate {
  font-size: 22px;
  font-weight: bold;
  padding: 0 30px 0 30px;
}
.HomeDietFood {
  margin-top: 20px;
}
.HomeDietFood > .row > .col > hr {
  width: 150px;
  border: 0.5px solid gray;
}
.HomeDietFood .row .col {
  padding: 0 30px 0 30px;
  font-weight: bold;
  font-size: 18px;
}
.HomeDietFood .row .col .foodName {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 10px;
}
.HomeDietFood .row .col img{
  display: block;
  margin-left: 0;
  margin-right: auto;
  max-width: 80%;
  padding: 30px 0 35px 0;
}

.badge {
  margin-right: 9px;
  margin-bottom: 5px;
}

span.badge {
  font-size: 12px;
  padding: 7px 15px 6px 15px;
  font-family: Han Sans;
}
span.badge-danger {
  background-color: rgb(211, 84, 0);
}
span.badge-info {
  background-color: rgb(39, 174, 96);
}
span.badge-success {
  background-color: rgb(243, 156, 18);
}

