
.admin_sidebar_main {
  border: thin none #444444;
  background-color: rgb(38, 50, 56);
  display: table;
  width: 13%;
  position: static;
  height: 700px;
  float: left;
  padding: 30px 0 30px 0;
}

.admin_sidebar_main_text {
  color: white;
  /* margin-left: 20px; */
  font-weight: bold;
  font-size: 14px;
  margin-left: 16px;
  line-height: 2.5em;
}

.admin_sidebar_main_text_vertical {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.admin_sidebar_main_sub_text {
  margin-left: 40px;
}

.admin_sidebar_main_text i.material-icons {
  padding-top: 10px;
}

button.admin_sidebar_main_toggle_button {
  padding: 0px;
}
