/* 해당 css파일을 각 mypage.css에 적용하여야 한다. */
.mypage_ordercheck_main {
  border: 1px solid white;
  background-color: #a0a0a0;
  line-height: 4.5em;
  width: 100%;
  height: 700px;
  padding-top: 10px;
  padding-left: 250px;
}

.mypage_ordercheck_main_upper_Home_text {
  opacity: 0.6;
}

.mypage_ordercheck_main_description_box {
  background-color: white;
  width: 1220px;
  height: 500px;
  border: 2px solid white;
  border-radius: 5px;
}

.mypage_ordercheck_main_row {
  height: 50px;
}

hr.mypage_ordercheck_main_hr{
  border-top: 1px solid #8c8b8b;
  border-width: 2px;
}

.mypage_ordercheck_main_table {
  margin-top: 20px;
  height: 40%;
}

.mypage_ordercheck_main_table tr {
  line-height: 16px;
  font-size: 13px;
  text-align: center;
  opacity: 0.6;
}

.mypage_ordercheck_main_table thead tr {
  background-color: rgb(158, 158, 158);
}

.mypage_ordercheck_main_orderlist {
  margin-top: 10px;
  margin-left: 10px;
}

.mypage_ordercheck_main_orderlist p{
  line-height: 2px;
  font-size: 11px;
}

.mypage_ordercheck_main_item_list {
  font-size: 12px;
  line-height: 16px;
}
