.mypage_placecheck_main {
  border: 1px solid white;
  background-color: #DCDCDC;
  line-height: 4.5em;
  width: 100%;
  height: 700px;
  padding-top: 10px;
  padding-left: 250px;
}

.mypage_placecheck_main_upper_Home_text {
  opacity: 0.6;
}

.mypage_placecheck_main_description_box {
  background-color: white;
  width: 1220px;
  height: 500px;
  border-radius: 4px;
  box-shadow: rgb(190, 190, 190) 1px 2px 1px 0px;
}

#mypage_placecheck_main_head {
  font-size: 22px;
  color: rgb(158, 158, 158);
  line-height: 1.8em;
  padding: 30px 30px;
}

#mypage_placecheck_main_hr {
  background-color: black;
  float: center;
}

table.mypage_placecheck_main_table {
  margin-top: 50px;
  width: 80%;
  margin-left: 100px;
}

.mypage_placecheck_main_table tr {
  line-height: 16px;
  font-size: 13px;
  text-align: center;
  opacity: 0.6;
}

.mypage_placecheck_main_table thead tr {
  background-color: rgb(158, 158, 158);
}
