.mypage_childenrol_main {
  border: 1px solid white;
  background-color: #DCDCDC;
  line-height: 4.5em;
  width: 100%;
  height: 700px;
  padding-top: 10px;
  padding-left: 250px;
}

.mypage_childenrol_main_upper_Home_text {
  opacity: 0.6;
}

.mypage_childenrol_main_description_box {
  background-color: white;
  width: 1220px;
  height: 570px;
  border-radius: 4px;
  box-shadow: rgb(190, 190, 190) 1px 2px 1px 0px;
}

#mypage_childenrol_main_head {
  font-size: 18px;
  color: rgb(158, 158, 158);
  line-height: 0.3em;
  padding: 30px 0 10px 20px;
}

#mypage_childenrol_main_hr {
  background-color: grey;
  float: center;
}

#mypage_childenrol_main_form {
  margin-left: 20px;
  width: 50%;
}

.mypage_childenrol_main_form_text {
  font-size: 14px;
  line-height: 2.2em;
}

input.mypage_childenrol_main_placeholder::placeholder {
  font-family: HanSans;
  font-size: 12px;
}

.mypage_childenrol_main_radio.form-check-input {
  margin-top: 2rem;
}

p.mypage_childenrol_main_gender_form_text {
  line-height: 4em;
}

#mypage_childenrol_main_gender_form {
  margin-top: -20px;
  height: 50px;
}

#mypage_childenrol_main_kg_form {
  margin-top: 50px;
}

#mypage_childenrol_main_cm_form {
  margin-top: 40px;
}

.mypage_childenrol_main_form_sub_text {
  margin-bottom: 10px;
  line-height: 35px;
}
