#my_head {
  font-family: HanSans;
  align: center;
  color: rgb(25, 25, 221);
  font-size: 19px;
  font-weight: bold;
  margin: 0 180px;
}

.head_obtions {
  margin: 0px 40px;
  font-family: HanSans;
  font-weight: normal;
  font-size: 11px;
  line-height: 1.4em;
  color: rgb(190, 190, 190);
  text-align: right;
}

.cart {
  color: rgb(25, 25, 221);
}

.navigation {
  border-width: 0px 0px 1px;
  border-style: solid;
  border-color: rgb(51, 51, 51) rgb(51, 51, 51) rgb(224, 224, 224);
  display: flex;
  justify-content: center;
  vertical-align: bottom;
}
