.payment_head_text {
  height: 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.payment {
  margin-right: 50px;
  margin-bottom: 70px;
}

.payment_obtion {
  height: 50px;
  justify-content: center;
  flex-direction: column;
}

.material-icons.md-2 {
  font-size: 40px;
}

.form_label {
  font-family: HanSans;
  font-weight: bold;
  font-size: 14px;
  color: rgb(190, 190, 190);
}

input.payment_placeholder::placeholder {
  font-family: HanSans;
  font-size: 12px;
}
