/* .jumbotron {
  position: relative;
  z-index: 1;
}

.jumbotron::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  z-index: -1;
  background-image: url(../img/about_baby.jpg);
  background-size: cover;
} */

.prime_header {
  font-size: 30px;
  font-family: HanSans;
}

.prime_header_dec {
  font-size: 13px;
  font-family: HanSans;
}

.prime_sub_header {
  font-size: 22px;
}

.material-icons.md-1 {
  font-size: 100px;
}

.prime_sub_sub_header {
  font-size: 17px;
  color: rgb(25, 25, 221);
}

.prime_box {
  height: 300px;
  /* margin-right: 20px; */
  box-shadow: rgba(0, 0, 0, 0.11) 1px 3px 9px 3px;
  background-color: rgb(255, 255, 255);
  border-width: 0px;
  border-style: none;
}

.card_dec {
  font-size: 12px;
  color: rgb(158, 158, 158);
  text-align: center;
}
