#my_head {
  font-family: HanSans;
  align: center;
  color: rgb(25, 25, 221);
  font-size: 21px;
  font-weight: bold;
  margin: 0 180px;
}

.head_obtions {
  margin: 0px 40px;
  font-family: HanSans;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.4em;
  color: black;
  text-align: right;
}

.cart {
  color: rgb(25, 25, 221);
}

.navigation {
  border-width: 0px 0px 0px 0;
  border-style: solid;
  border-color: rgb(51, 51, 51) rgb(51, 51, 51) rgb(224, 224, 224);
  display: flex;
  justify-content: center;
  vertical-align: bottom;
}

.nav-item a {
  margin-right: 9px;
  color: rgba(0,0,0,.7);
}

.nav-item a:hover {
  color: rgba(0,0,0,.5);
  text-decoration: none;
}

li.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}